#root {
  .public-layout {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;

    .layout-content {
      display: flex;
      flex: 1;
    }
  }
}

@media (max-width: 767px) {
  #root {
    .public-layout {
      overflow: hidden;
      overflow-y: auto;
    }
  }
}
